body{
    font-family: Arial;
    margin: 0;
    background: linear-gradient(135deg,#0f172a,#1e3a8a);
    color: white;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:linear-gradient(90deg,#2563eb,#1e40af);
}

.logo{
    font-size:24px;
}

.navbar ul{
    display:flex;
    gap:20px;
    list-style:none;
}

.navbar a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.navbar a:hover{
    color:#93c5fd;
}

/* CARDS */

.card,
.list-card{
    width:80%;
    margin:30px auto;
    padding:25px;
    border-radius:20px;
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

input,
select{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
}

button{
    margin-top:15px;
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:linear-gradient(45deg,#2563eb,#9333ea);
    color:white;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    opacity:0.8;
}

/* PHOTO GALLERY */

#photo-gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

.photo-card{
    background:white;
    color:black;
    padding:10px;
    border-radius:15px;
    width:250px;
    text-align:center;
}

.photo{
    width:100%;
    border-radius:10px;
}

.title{
    text-align:center;
    margin-top:30px;
}
